<h3><%= @user.name %></h3>

<a href="/users/<%= @user.id %>/edit">Edit Profile</a>

<form action="/secrets" method="post">
	<input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>">
	<p>
		<label for="new_secret">New Secret</label>
		<textarea name="secret[content]" id="new_secret"></textarea>
		<button type='submit'>Create Secret</button>
	</p>
</form>

<h3>Secrets</h3>
<% @secrets.each do |secret| %>
	<p><%= secret.content %></p>
	<form action="/secrets/<%= secret.id %>" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name="_method" value="delete">
		<button type="submit">Delete</button>
	</form>
	<p><%= secret.likes.count %> likes</p>
<% end %>

<h3>Secrets Liked</h3>
